<% if @list.movies.count > 1  %>
<% movies = "movies" %>
<% else %>
<% movies = "movie" %>
<% end %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1527224857830-43a7acc85260?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80);">
  <button type="button" class="btn btn-warning btn-position"><%= @list.movies.count %> <%= movies %></button>
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
