<% if @list.movies.count == 1  %>
<% movies = "movie" %>
<% else %>
<% movies = "movies" %>
<% end %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key%>');">
  <button type="button" class="btn btn-warning btn-position"><%= @list.movies.count %> <%= movies %></button>
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
