span {
  color: #bdc7c9;
}

.overview-text {
  color: #bdc7c9;
}


.card-shadow {
 box-shadow: 0 4px 16px #DCDCDC;
}

.bottom-card a {
  color: red;
  text-decoration: none;
}

.card-img-top {
    // width: 100%;
    // height: 15vw;
    object-fit: cover;
}

.card-min-height {
  min-height: 280px;
}
